.mission_edit{
    width: 100%;
    display: flex;
    justify-content: center;
}
.mission_edit_inner{
    /*width: 100%;*/
    margin: 30px 40px;
    background: white;
    display: flex;
    justify-content: center;
}
.mission_edit_from>div>select{
    width: 79%
}
.mission_edit_from>div>input{
    width: 77%
}