.data_source{
    width: 100%;
    display: flex;
    justify-content: center;

}
.data_source_body{
    /*width: 100%;*/
    margin: 30px 40px;
}
.data_source_top{
    width: 100%;
    min-width: 1000px;
    box-sizing: border-box;
    padding: 8px 16px;
    margin-bottom: 20px;
    line-height: 40px;
    background-color: white;
}
.data_source_top>button{
    width: 100px;
    border: none;
    outline: none;
    padding: 7px 0;
    border-radius: 5px;
    background-color: #1890FF;
    color: white;
}
.data_source_mid{
    width: 100%;
    min-width: 1000px;
    background-color: white;
}
.data_source_mid_container{
    width: 100%;
}
.data_source_mid_container>li{
    width: 100%;

}
.data_source_mid_container>li>.data_source_row{
    display: flex;
    justify-content:space-between;
    /*line-height: 36px;*/
    padding-left: 10px;
    border-bottom: 1px solid #F0F0F0;
    align-items: center;
}
.title_style{
    background-color: #FAFAFA;
    font-weight: bold;
}
.data_source_row>li{
    display: inline-block;
    line-height: 50px;
    text-align: left;
    margin-left: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.data_source_row>li:nth-child(1){
    flex: 4;
}
.data_source_row>li:nth-child(2){
    flex: 4;
}
.data_source_row>li:nth-child(3){
    /*white-space: nowrap;*/
    flex: 4;
}
.data_source_row>li:nth-child(4){
    flex: 4;
}
.data_source_row>li:nth-child(5){
    flex: 4;
}
.data_source_row>li:nth-child(6){
    flex: 3;
}
.data_source_row>li:nth-child(7){
    flex: 1;
}
/*.data_source_row>.link{*/

/*}*/
.data_source_row>li>a{
    text-decoration: none;
    color: #1890ff;
}
.data_source_row>li:first-child{
    margin-left: 0;
}
.data_source_bottom{
    float: right;
    margin-top: 20px;
    margin-bottom: 40px;
}
.data_source_bottom>li{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    float: left;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    cursor: pointer;
}
.data_source_bottom>li:hover{
    border-color:#1890ff;
    color: #1890ff;

}
.data_source_bottom>li>i{
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}
.data_source_bottom>li:first-child>i{
    transform: translate(1px,-3px) rotate(135deg);
}
.data_source_bottom>li:last-child>i{
    transform: translate(-2px,-3px) rotate(-45deg);
}