.left{
    width: 200px;
    height: 100vh;
    background-color: #001529;
    min-width: 200px;
}
.left_header{
    padding: 12px;
    color: white;
}
.left_header_inner{
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background: #334454;
}
.left_bottom{
    color: #f0f2f5;
}
.left_bottom>ul{
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;

}
.list_container{
    position: relative;
}
.list_container>a{
    display: inline-block;
    padding: 15px 23px;
    text-decoration: none;
    color: #FFFFFF;
}
.list_container>i {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    position: absolute;
    right: 17px;
    top: 23px;
}
/*#list_1 {*/
/*    display: none;*/
/*}*/
/*#list1_container:hover #list_1{*/
/*    display: block;*/
/*}*/
#list1_container>i{
    transform: rotate(45deg);
}
/*#list_2{*/
/*    display: none;*/
/*}*/
/*#list2_container:hover #list_2{*/
/*    display: block;*/
/*}*/
#list2_container>i{
    transform: rotate(45deg);
}
.list_container>ul{
    color: #9FA3A8;
    background: #000C17;
}
.list_container>ul>li{
    padding: 15px 0;
    padding-left: 33px;
}
.list_container>ul>li>a{
    color: #9FA3A8;
}